*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
cdk/.env
cdk/__pycache__*
cdk/cdk.out
cdk/cdk/cdk.egg*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/
.vscode/

# JetBrains IDEs
.idea

# Node Modules
node_modules/
