jenkins:
  mode: EXCLUSIVE # CHANGE: encourage jobs to run on workers
  clouds:
    - ecs:
        cluster: {{ECS_CLUSTER_ARN}}
        # Credentials should not be set locally. Use IAM roles assigned to the container.
        credentialsId: False
        regionName: {{AWS_REGION}}
        name: fargate-workers
        numExecutors: 1 # FIX: https://github.com/jenkinsci/amazon-ecs-plugin/issues/291
        jenkinsUrl: {{JENKINS_URL}}
        templates:
          - label: fargate-workers
            templateName: fargate-worker-nodes
            # Build image and store in ECR. Benefits: fast download time, control image on your own
            image: jenkins/jnlp-slave:latest-jdk11 # FIX: prevent 52.0 not match 55.0 error
            launchType: FARGATE
            networkMode: awsvpc
            # Soft memory limit
            memoryReservation: 2048
            cpu: 1024
            subnets: {{SUBNET_IDS}}
            securityGroups: {{SECURITY_GROUP_IDS}}
            executionRole: {{EXECUTION_ROLE_ARN}}
            taskrole: {{TASK_ROLE_ARN}}
            logDriver: awslogs
            logDriverOptions:
              - name: awslogs-region
                value: {{AWS_REGION}}
              - name: awslogs-group
                value: {{LOG_GROUP}}
              - name: awslogs-stream-prefix
                value: {{LOG_STREAM_PREFIX}}
aws:
  cloudWatchLogs:
    logGroupName: {{LOG_GROUP}} # FIX: needs log group to launch workers

